.fName{
   margin: 30px;
   font-size: 24px;
   background-color: #7c2a2a ;
   padding: 20px;
   text-align: center;
   margin-left: 100px;
   margin-right: 100px;
   border-radius: 10px;
   color: white;
   padding-top: 20px;

}